<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> {% set language = "en" %} {% set sortattr = "sort" %} 
<head> {% set name = metadata.title|lower|replace(' ', '-') %}
  <meta charset="utf-8" />
  <title>{{ metadata.title }}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
    // All config options at https://respec.org/docs/
    var respecConfig = {
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.self}}",
      specStatus: "ED",
      editors: [{
        name: "Bert van Nuffelen",
        url: "https://your-site.com"
      }],
      github: "tenforce/data.ai-proficient.eu",
      shortName: "ai-proficient",
      xref: "web-platform",
      group: "my-working-group",
      doJsonLd: true,
    };
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" sizes="192x192" href="/cms/icons/PurlLogo.jpg" />
  <link rel="apple-touch-icon" href="/cms/icons/PurlLogo.jpg" />
  <link rel="apple-touch-icon" sizes="76x76" href="/cms/icons/PurlLogo.jpg" />
  <link rel="apple-touch-icon" sizes="120x120" href="/cms/icons/PurlLogo.jpg" />
  <link rel="apple-touch-icon" sizes="152x152" href="/cms/icons/PurlLogo.jpg" />
  <meta name="msapplication-square70x70logo" content="/cms/icons/PurlLogo.jpg" />
  <meta name="msapplication-square150x150logo" content="/cms/icons/PurlLogo.jpg" />
  <meta name="msapplication-wide310x150logo" content="/cms/icons/PurlLogo.jpg" />
  <meta name="msapplication-square310x310logo" content="/cms/icons/PurlLogo.jpg" />
  <meta name="msapplication-TileColor" content="#7ED956" />
</head>
<body>
  <div>
      <div style="min-height:44px;;" id="purl-header" class="header">
        <!-- insert your global header here -->
        <title>Purl</title>
        <i class="logo">PurlLogo</i>
        <!-- end global header-->
      </div>
  </div>
  <!-- Start page content -->
  <div class="page">
    <div class="layout layout--wide">
      <div class="skiplink">
        <a rel="nofollow noreferrer" href="#abstract">Overslaan en naar de algemene inhoud gaan</a>
      </div>
    </div>
    <section>
      <h2 class="h1">{{ metadata.title }}</h2>
      <div class="col--9-12 col--1-1--s">
        <div class="head" role="status" id="status">
          <dl>
            <dt>Status</dt>
            <dd>
              <a href="{{metadata.status}}">{{metadata.status}}</a>
            </dd>
            <dt>Published at</dt>
            <dd>{{metadata.issued}}</dd>
            <dt >This version</dt>
            <dd>
              <a href="{{metadata.navigation.self}}">{{metadata.navigation.self}}</a>
            </dd> {% if metadata.navigation.next %} <dt>Next version</dt>
            <dd>
              <a href="{{metadata.navigation.next}}">{{metadata.navigation.next}}</a>
            </dd> {% endif %} {% if metadata.navigation.prev %} <dt>Previous version</dt>
            <dd>
              <a href="{{metadata.navigation.prev}}">{{metadata.navigation.prev}}</a>
            </dd> {% endif %}
          </dl>
        </div>
        <div class="head" role="contentinfo" id="respecHeader">
          <dl> {% for role, contributors in contributors | groupby("role") %} {% if role == "A" %} {% set authors = contributors|sort(attribute='last_name') %} {% if authors %} <dt>Authors</dt> {% for author in authors %} <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
              <span typeof="foaf:Person">
                <span class="p-name fn" property="foaf:lastName">{{ author.last_name }}</span>, <span class="p-name fn" property="foaf:firstName">{{ author.first_name }}</span> {% if author.affiliation.website and author.affiliation.name %} - <a href="{{ author.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ author.affiliation.name }}</a> {% elif author.affiliation.name %} - <span class="p-org org h-org h-card">{{ author.affiliation.name }}</span> {% endif %} {% if author.email %} - <span class="ed_mailto">
                  <a href="mailto:{{ author.email }}" rel="foaf:mbox" class="u-email email">{{ author.email }}</a>
                </span> {% endif %} </span>
            </dd> {% endfor %} {% endif %} {% elif role == "E" %} {% set editors = contributors|sort(attribute='last_name') %} {% if editors %} <dt>Editors</dt> {% for editor in editors %} <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
              <span typeof="foaf:Person">
                <span class="p-name fn" property="foaf:lastName">{{ editor.last_name }}</span>, <span class="p-name fn" property="foaf:firstName">{{ editor.first_name }}</span> {% if editor.affiliation.website and editor.affiliation.name %} - <a href="{{ editor.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ editor.affiliation.name }}</a> {% elif editor.affiliation.name %} - <span class="p-org org h-org h-card">{{ editor.affiliation.name }}</span> {% endif %} {% if editor.email %} - <span class="ed_mailto">
                  <a href="mailto:{{ editor.email }}" rel="foaf:mbox" class="u-email email">{{ editor.email }}</a>
                </span> {% endif %} </span>
            </dd> {% endfor %} {% endif %} {% elif role == "C" %} {% set pure_contributors = contributors|sort(attribute='last_name') %} {% if pure_contributors %} <dt>Contributors</dt> {% for contributor in pure_contributors %} <dd inlist="" rel="dcterms:contributor" class="p-author h-card vcard">
              <span typeof="foaf:Person">
                <span class="p-name fn" property="foaf:lastName">{{ contributor.last_name }}</span>, <span class="p-name fn" property="foaf:firstName">{{ contributor.first_name }}</span> {% if contributor.affiliation.website and contributor.affiliation.name %} - <a href="{{ contributor.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ contributor.affiliation.name }}</a> {% elif contributor.affiliation.name %} - <span class="p-org org h-org h-card">{{ contributor.affiliation.name }}</span> {% endif %} {% if contributor.email %} - <span class="ed_mailto">
                  <a href="mailto:{{ contributor.email }}" rel="foaf:mbox" class="u-email email">{{ contributor.email }}</a>
                </span> {% endif %} </span>
            </dd> {% endfor %} {% endif %} {% endif %} {% endfor %} </dl>
        </div>
        <div class="head" role="metainfo" id="metainfo">
          <dl>
            <dt>Source</dt>
            <dd>
              <a href="{{metadata.repositoryurl}}">{{metadata.repositoryurl}}</a>
            </dd>
            <dt>Changelog</dt>
            <dd>
              <a href="{{metadata.changelogurl}}">{{metadata.changelogurl}}</a>
            </dd>
            <dt>Feedback</dt>
            <dd>
              <a href="{{metadata.feedbackurl}}">{{metadata.feedbackurl}}</a>
            </dd>
            <dt>Registry of standards</dt>
            <dd>
              <a href="{{metadata.standaardregisterurl}}">{{metadata.standaardregisterurl}}</a>
            </dd>
            <dt>Dependencies</dt>
            <dd> {% for dep in metadata.dependencies %} <a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a> {% endfor %} </dd>
          </dl>
        </div>
      </div>
  </div>
    </section>
    <section>
      <h2>Introduction</h2>
            {% block introduction %} 
            <p>This document describes an <strong>application profile</strong>, in this case <strong>{{ metadata.title }}</strong>. The application profile specifies a semantic data model covering a set of usecases. The specification consists of terms with their constraints (cardinalities, codelists, usage guidelines). </p> 
            {% endblock %}
    </section>
    <section id="abstract"> {% block summary %} {% if metadata.description %} {{ metadata.description[language] }} {% endif %} {% endblock %} </section>
          
          <section id="sotd"> {% block status %} <p> This application profile has the status <a href="{{metadata.status }}">{{ metadata.statuslabel }}</a> publised at {{ metadata.issued }}. </p>
            <p> Information about the process and the decisions involved in the creation of this specification are consultable at the <a href="{{metadata.standaardregisterurl}}">registry of standards</a>. </p> {% endblock %}
          </section>
          <section>
            <h2>Licentie</h2> {% block license %} <p>
              <span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">This specification </span> of <a rel="cc:attributionURL" property="cc:attributionName" href="ORGANISATION" xmlns:cc="http://creativecommons.org/ns#">ORGANISATION </a> is published under <a href="{{ metadata.license }}" rel="license">"CC0"</a>.
            </p> {% endblock %}
          </section>
          <section id="conformance">
            <h2 id="conformance" aria-level="1" role="heading">Conformance</h2> {% block conformance %} <p>An implementation is conformant with this application profile if it satisfies <a href="/doc/conformance">these rules</a>. </p> {% endblock %}
          </section>
          <section>
            <h2>Overview</h2>
            <div class="region region--no-space-top" id="overview"> {# 
							
									<h2 class="h2">Overview</h2> #} <div class="grid">
                <div class="col--9-12 col--1-1--s typography"> {% if ( ( classes | length > 0)   ) %} <div class="region region--no-space-top">
                    <p>This document describes the usage of the following entities for a correct usage of the Application Profile: <br /> | {%- for class in classes |sort(attribute=sortattr) %} <a href="#{{ class.name }}">{{ class.label[language] }}</a> | {%- endfor %} </p>
                  </div> {% endif %} {% if ( ( datatypes | length ) > 0 ) %} <div class="region region--no-space-top">
                    <p> This document describes the usage of the following datatypes for a correct usage of the Application Profile: <br /> | {%- for datatype in datatypes |sort(attribute=sortattr) %} <a href="#{{ datatype.name }}">{{ datatype.label[language] }}</a> | {%- endfor %} </p>
                  </div> {% endif %} </div>
              </div>
            </div>
            <div class="region region--no-space-top">
              <a href="https://tenforce.github.io/data.ai-proficiant.eu-generated{{ documentroot }}/html/overview.jpg" target="_blank">
                <img src="https://tenforce.github.io/data.ai-proficiant.eu-generated{{ documentroot }}/html/overview.jpg" />
              </a>
            </div>
          </section>
          <section>
            <h2>Entities</h2>
            <div class="region region--no-space-top"> {# 
							
									<h2 class="h2">Entities</h2> #} </div> {% for entity in classes | sort(attribute=sortattr) %} 
              <section>
                <h3 class="h3" id="{{ entity.name }}">
                  {# <h3 class="h3" id="{{ entity.name }}"> #}
                    <a href="{{ entity.uri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a>
                  </h3>
                    <dl>
                      <dt>Description</dt>
                      <dd>{{ entity.description[language] }}</dd> {% if entity.usage[language] %} <dt>Usage</dt>
                      <dd>{{ entity.usage[language] | safe }}</dd> {% endif %} {% if ((entity.parents | length) > 0 ) %} <dt>Subclass of
                      <dt>
                      <dd> {%- for parent in entity['parents'] %} <a href="{{ parent.scoped_uri}}">{{ parent.label }}</a>{% if not loop.last %}, {% endif %} {%- endfor %} </dd> {% endif %} <dt>Properties</dt> {% if ((entity.properties | length) > 0 ) %} <dd>For this entity the following properties are defined: {%- for prop in entity['properties'] | sort(attribute=sortattr) %} <a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %} {%- endfor %}. </dd> {% else %} <dd>No properties have been defined for this entity.</dd> {% endif %}
                    </dl>
                    <dd>Add an issue for this entity <a href="https://github.com/Informatievlaanderen/purl-eu/issues/new?title=Issue%20for%20{{ entity.name }}&body=Explain%20your%20issue">here</a>. </dd>
                  </div> {% if ((entity.properties | length) > 0 ) %} <div class="u-table-overflow">
                    <table class="data-table">
                      <thead>
                        <tr class="data-table__header">
                          <th class="data-table__header-title--sortable"></th>
                          <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Property</th>
                          <th class="data-table__header-title--sortable">Expected Range</th>
                          <th class="data-table__header-title--sortable">Cardinality</th>
                          <th class="data-table__header-title--sortable">Description</th>
                          <th class="data-table__header-title--sortable">Usage</th>
                          <th class="data-table__header-title--sortable">Codelist</th>
                        </tr>
                      </thead>
                      <tbody class="supertype"> {% for prop in entity['properties'] | sort(attribute=sortattr) %} <tr id="{{ (entity.name ~ ':' ~ prop.name) | urlencode }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                          <td>
                            <a href="https://github.com/Informatievlaanderen/purl-eu/issues/new?title=Issue%20for%20{{ prop.name }}&body=Explain%20your%20issue">
                              <i class="icon"></i>
                            </a>
                          </td>
                          <td>
                            <code property="rdfs:label">
                              <a href="{{ prop.uri }}" data-toggle="tooltip" data-content="{{ prop.uri }}" data-placement="right">
                                {{ prop.label[language] }}</a>
                            </code>
                          </td>
                          <td> {% for range in prop.scopedrange %} {% if range['range_uri'] == range['range_puri'] %} <a href="{{ range['range_uri'] }}" data-toggle="tooltip" data-content="{{ range['range_puri'] }}" data-placement="right">{{ range['range_label'][language] }}</a> {% else %} <a href="{{ range['range_uri'] }}" data-placement="right">{{ range['range_label'][language] }}</a> {% endif %} {% endfor %} </td>
                          <td>{{ prop.cardinality }}</td>
                          <td property="rdfs:comment">{{ prop.description[language] }}</td>
                          <td property="skos:scopeNote">{{ prop.usage[language] | safe }}</td>
                          <td>{% if prop['codelist_uri'] %} <a href="{{ prop['codelist_uri'] }}">Link</a>{% endif %} </td>
                        </tr> {% endfor %} </tbody>
                    </table>
                  </div> {% endif %}
                </div>
              </section> {% endfor %}
          </section> {% if datatypes %} 
          <section>
            <h2>Datatypes</h2>
            <div class="region region--no-space-top"> {# 
									
											<h2 class="h2">Datatypes</h2> #} </div>
          </section> {% for entity in datatypes | sort(attribute=sortattr)%} <div class="region region--no-space-top"> {% if entity.scopeduri %} <h3 class="h3" id="{{ entity.name }}">
              <a href="{{ entity.scopeduri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a>
            </h3> {% else %} <h3 class="h3" id="{{ entity.name }}">
              <a href="{{ entity.uri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a>
            </h3> {% endif %} <div class="region region--no-space-top">
              <dl>
                <dt>Beschrijving</dt>
                <dd>{{ entity.description[language] }}</dd> {% if entity.usage[language] %} <dt>Gebruik</dt>
                <dd>{{ entity.usage[language] | safe }}</dd> {% endif %} {% if ((entity.parents | length) > 0 ) %} <dt>Subklasse van
                <dt>
                <dd> {%- for parent in entity['parents'] %} <a href="{{ parent.scoped_uri}}">{{ parent.label }}</a>{% if not loop.last %}, {% endif %} {%- endfor %} </dd> {% endif %} <dt>Eigenschappen</dt> {% if ((entity.properties | length) > 0 ) %} <dd>Voor dit datatype zijn de volgende eigenschappen gedefinieerd: {%- for prop in entity['properties'] | sort(attribute=sortattr) %} <a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %} {%- endfor %}. </dd> {% else %} <dd>Voor dit datatype zijn geen eigenschappen gedefinieerd.</dd> {% endif %}
              </dl>
              <dd>Add an issue for this property <a href="https://github.com/Informatievlaanderen/purl-eu/issues/new?title=Issue%20for%20{{ entity.name }}&body=Explain%20your%20issue">here</a>. </dd>
            </div> {% if ((entity.properties | length) > 0 ) %} <div class="u-table-overflow">
              <table class="data-table">
                <thead>
                  <tr class="data-table__header">
                    <th class="data-table__header-title--sortable"></th>
                    <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Eigenschap</th>
                    <th class="data-table__header-title--sortable">Verwacht Type</th>
                    <th class="data-table__header-title--sortable">Kardinaliteit</th>
                    <th class="data-table__header-title--sortable">Beschrijving</th>
                    <th class="data-table__header-title--sortable">Gebruik</th>
                    <th class="data-table__header-title--sortable">Codelijst</th>
                  </tr>
                </thead>
                <tbody class="supertype"> {% for prop in entity['properties'] | sort(attribute=sortattr) %} <tr id="{{ (entity.name ~ ':' ~ prop.name ) | urlencode }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                    <td>
                      <a href="https://github.com/Informatievlaanderen/purl-eu/issues/new?title=Issue%20for%20{{ prop.name }}&body=Explain%20your%20issue">
                        <i class="icon"></i>
                      </a>
                    </td>
                    <td>
                      <code property="rdfs:label">
                        <a href="{{ prop.uri }}" data-toggle="tooltip" data-content="{{ prop.uri }}" data-placement="right">{{ prop.label[language] }}</a>
                      </code>
                    </td>
                    <td> {% for range in prop.scopedrange %} {% if range['range_uri'] == range['range_puri'] %} <a href="{{ range['range_uri'] }}" data-toggle="tooltip" data-content="{{ range['range_puri'] }}" data-placement="right">{{ range['range_label'][language] }}</a> {% else %} <a href="{{ range['range_uri'] }}" data-placement="right">{{ range['range_label'][language] }}</a> {% endif %} {% endfor %} </td>
                    <td>{{ prop['cardinality'] }}</td>
                    <td property="rdfs:comment">{{ prop.description[language] }}</td>
                    <td property="skos:scopeNote">{{ prop.usage[language] | safe }}</td>
                    <td>{% if prop['codelist_uri'] %} <a href="{{ prop['codelist_uri'] }}">Link</a>{% endif %} </td>
                  </tr> {% endfor %} </tbody>
              </table>
            </div> {% endif %} </div> {% endfor %} {% endif %} <section class="informative">
            <h2 aria-level="1" role="heading" id="h2_sotd">JSON-LD context</h2>
            <div class="region region--no-space-top" id="jsonld"> {# 
											
													<h2 class="h2" aria-level="1" role="heading" id="h2_sotd">JSON-LD context</h2> #} (niet normatief) {% block jsonld %} <p>A reusable JSON-LD context definition for this application profile is retrievable at: <a href="https://raw.githubusercontent.com/tenforce/data.ai-proficiant.eu-generated/master{{ documentroot }}/context/{{ metadata.filename }}.jsonld" target="_blank">{{ documentroot }}/context/{{ metadata.filename }}.jsonld</a>
              </p> {% endblock %} </div>
          </section>
          <section class="informative">
            <h2 aria-level="1" role="heading" id="h2_sotd">SHACL template</h2>
            <div class="region region--no-space-top" id="shacl"> {# 
											
													<h2 class="h2" aria-level="1" role="heading" id="h2_sotd">SHACL template</h2> #} (niet normatief) {% block shacl%} <p>A reusable SHACL template for this application profile is retrievable at: <a href="https://raw.githubusercontent.com/tenforce/data.ai-proficiant.eu-generated/master{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl" target="_blank">{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl</a>
              </p> {% endblock %} 
            </div>
          </section>
        <!-- End page content -->
</body>
</html>